<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
	
	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/environment.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
	
	<!-- Pool de conexiones ultra rapido http://brettwooldridge.github.io/HikariCP/ -->
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="poolXXX" />
		<property name="dataSourceClassName" value="${jdbc.driverClassName}" />
		<property name="minimumIdle" value="${jdbc.pool_conexiones.minIdle}" />
		<property name="maximumPoolSize" value="${jdbc.pool_conexiones.maxTotal}" />
		<property name="readOnly" value="true" />
		<property name="dataSourceProperties">
			<props>
				<prop key="url">${jdbc.url}</prop>
				<prop key="user">${jdbc.username}</prop>
				<prop key="password">${jdbc.password}</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>
	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mappers/*.xml"/> 
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>
    
  	<!-- dao -->
	<bean  id="scanner_Ocm" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="org.apz.xxx.back.dao"/>
    	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
	</bean>
	
	
</beans>	