<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- Nombre de la aplicacion -->
	<display-name>proyecto-base-jsf-web</display-name>

	<!-- Configuracion de Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/applicationContext.xml;			
		</param-value>
	</context-param>

	<!-- Configuracion JSF -->
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
		<param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
        <param-value>/*.xhtml</param-value>
    </context-param>
     <context-param>
    <description>
      Mostrará una página detallada con la información del error producido, así como una renderización
      del árbol de componentes jsf que tenemos en memoria. Esta parmatro tendrá que estar a false
      en entornos de produccion    
    </description>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value> 
  </context-param>
    
    <!-- Activa EL 2.2 en Tomcat -->
    <context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
	</context-param>
	
	<!--  filtro de la aplicacion para la sesion -->
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>org.apz.xxx.web.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	
	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Servlets de la aplicacion -->
	<servlet>
        <servlet-name>faces-servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>faces-servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
	<!-- Paginas de error -->
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/errorGenerico.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/errorGenerico.xhtml</location>
	</error-page>
	<error-page>
	    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
	    <location>/pages/error/frmSessionTimeout.xhtml</location>
	</error-page>
	
	<!-- Tiempo de la sesion -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

</web-app>